core/throttle.ctrl
core/pywikibot.lwp
core/namen.csv
core/examples/*
core/user-*.py
*.bak
*.pyc
*.pyo
*.*~
core/*/.tox
core/*/*.egg
core/*/data*
logs*
*apicache*
*pycache*
core/cache/*
core/.cache
core/.idea
core/.ipynb_checkpoints/
core/pywikibot.egg-info/
core/pywikibot/families/
core/build
core/dist
core/docs/_build/
core/pwd.txt
