throttle.ctrl
pywikibot.lwp
namen.csv
examples/*
user-*.py
*.bak
*.pyc
*.pyo
*.*~
/.tox
/*.egg
/data*
logs*
*apicache*
*pycache*
/cache/*
.cache
.idea
.ipynb_checkpoints
pywikibot.egg-info/
pywikibot/families/
build
dist
docs/_build/
pwd.txt
